<div style="background-color:deepskyblue;font-family:Arial; color:crimson">
    <h1> Murthy Foundation School of Excellance</h1>
</div>
<div style="background-color:deepskyblue">
    @RenderBody();

</div>
