
@{
    ViewBag.Title = "HomePage";
}

<h2>Welcome to the HomePage</h2>

<div><label>Parent</label></div>
<div>@Html.ActionLink("Apply online", "InsertApplication")
@Html.ActionLink("Check Status", "Status")
</div>


<div>
    <label>School Athority</label></div>
 <div>   @Html.ActionLink("Update Status", "StatusUpdate")
    @Html.ActionLink("Check Report", "Report")
</div>